<% provide(:title, 'About Us') %>
<div class="large-12 medium-12 small-12 columns">
  <div class="large-12 medium-12 small-12 columns container-top border-bottom">
    <div class="large-12 medium-12 small-12 columns">
      <h4 class="main-title"><strong><i class="fi-info"></i> About Us</strong></h4>
    </div>
  </div>
</div>
<div class="large-12 medium-12 small-12 columns column-top">
  <p>
    Talentcrops is a Contest-based Social Network on where users share multimedia files in order to compete against each other.
  </p>
</div>