<% provide(:title, "Contact Us") %>
<div class="large-12 medium-12 small-12 columns">
  <div class="large-12 medium-12 small-12 columns container-top border-bottom">
    <div class="large-12 medium-12 small-12 columns">
      <h4 class="main-title"><strong><i class="fi-mail"></i> Contact</strong></h4>
    </div>
  </div>
</div>
<div class="large-12 medium-12 small-12 columns column-top">
  <p>
    This is the contact page for Talentcrops.
  </p>
</div>
