<% provide(:title, "Help") %>
<div class="large-12 medium-12 small-12 columns">
  <div class="large-12 medium-12 small-12 columns container-top border-bottom">
    <div class="large-12 medium-12 small-12 columns">
      <h4 class="main-title"><strong><i class="fi-info"></i> Help</strong></h4>
    </div>
  </div>
</div>
<div class="large-12 medium-12 small-12 columns column-top">
  <p>
    This is the help page for Talentcrops.
  </p>
</div>