<% @user ||= current_user %>
  <div class="large-12 medium-12 small-12 columns container-top-bottom stats">
    <div class="large-12 medium-12 small-12 columns container">
      <div class="large-4 medium-4 small-4 columns text"><i class="fi-star"></i></div>
      <div class="large-4 medium-4 small-4 columns text"><i class="fi-graph-bar"></i></div>
      <div class="large-4 medium-4 small-4 columns text"><i class="fi-page-filled"></i></div>
    </div> 
    <div class="large-12 medium-12 small-12 columns container-top-mid">
      <div class="large-4 medium-4 small-4 columns digit">
        <strong>
          <%= link_to @user.challenges.count, challenges_user_path(@user) %>
        </strong>
      </div>
      <div class="large-4 medium-4 small-4 columns digit">
        <strong>
          <%= link_to @user.polls.count, polls_user_path(@user) %>
        </strong>
      </div>
      <div class="large-4 medium-4 small-4 columns digit">
        <strong>
          <%= link_to @user.posts.count, posts_user_path(@user) %>
        </strong>
      </div>
    </div>

  </div>