<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="large-4 medium-6 small-12 columns">
    <section>
      <h1>
        <%#= main_pic @user %>
        <%= gravatar_for @user %>
        <%= @user.first_name %>
        <%= @user.last_name %>
      </h1>
    </section>
  </aside>
</div>