<% provide(:title, "Polls") %>

<div class="large-12 medium-12 small-12 columns">
  <div class="large-12 medium-12 small-12 columns container-top border-bottom">
    <div class="large-9 medium-9 small-9 columns">
      <h4 class="main-title"><strong><i class="fi-graph-bar"></i> Polls</strong></h4>
    </div>
    <div class="large-3 medium-3 small-3 columns container">
      <%= link_to 'New Poll', new_poll_path, class: "button tiny right" %>
    </div>
  </div>
</div>

<% @polls = Poll.all %>
<%= render 'shared/poll' %>