<% provide(:title, @title) %>

<div class="large-12 medium-12 small-12 columns">
  <div class="large-12 medium-12 small-12 columns container-top border-bottom">
    <div class="large-9 medium-9 small-9 columns">
      <h4 class="main-title"><strong><i class="fi-page-filled"></i> <%= @title %></strong></h4>
    </div>
    <div class="large-3 medium-3 small-3 columns container">
      <% if @contest.user == current_user %>
        <%= link_to 'Add Post', new_poll_post_path(@contest), class: "button tiny right" %>
      <% end %>
    </div>
  </div>
</div>
<% posts = @contest.posts %>
<%= render 'shared/post' %>