<% provide(:title, "Challenges") %>

<div class="large-12 medium-12 small-12 columns">
  <div class="large-12 medium-12 small-12 columns container-top border-bottom">
    <div class="large-8 medium-8 small-8 columns">
      <h4 class="main-title"><strong><i class="fi-star"></i> Challenges</strong></h4>
    </div>
    <div class="large-4 medium-4 small-4 columns container">
      <%= link_to 'New Challenge', new_challenge_path, class: "button tiny right" %>
    </div>
  </div>
</div>

<% @challenges = Challenge.all %>
<%= render 'shared/challenge' %>