<div class="large-12 medium-12 small-12 columns">
  <div class="large-12 medium-12 small-12 columns container-top border-bottom">
    <div class="large-9 medium-9 small-9 columns">
      <h4 class="main-title"><strong><i class="fi-star"></i> New Challenge</strong></h4>
    </div>
    <div class="large-3 medium-3 small-3 columns column-top to-right">
      <%= link_to raw('<i class="fi-arrow-left"></i>&nbsp;Back'), challenges_path %>
    </div>
  </div>
</div>

<%= render 'form' %>

<div class="large-12 medium-12 small-12 columns">
  <div class="large-12 medium-12 small-12 columns container-top border-bottom">
    <div class="large-12 medium-12 small-12 columns">
      <h5 class="posting-single-form-info-title"><strong><i class="fi-photo"></i>  Find the URL of your image:</strong><h5>
    </div>
  </div>
</div>

<div class="large-12 medium-12 small-12 columns column-top">
  <ol>
    <li>Find your image anywhere: Facebook, Pinterest, Google...</li>
    <li>Click to open full size and Right click the image.</li>
    <li>Click "Copy Image URL" or "Copy Image Location".</li>
    <li>Paste the URL in the Image field.</li>
   </ol>
</div>