<div class="large-12 medium-12 small-12 columns">
  <div class="large-12 medium-12 small-12 columns container-top border-bottom">
    <div class="large-9 medium-9 small-9 columns">
      <h4 class="main-title"><strong><i class="fi-page-filled"></i> Edit Post</strong></h4>
    </div>
    <div class="large-3 medium-3 small-3 columns column-top to-right">
      <%= link_to raw('<i class="fi-arrow-left"></i>&nbsp;Back'), posts_path %>
    </div>
  </div>
</div>

<%= render 'shared/post_form' %>