body {
  background-color: #f2f4f7;
}

.margin-0 {
  margin: 0px;
}
/* PADDED CONTAINER */

.container {
  padding: 0px;
}

.container-top {
  padding: 0px;
  padding-top: 8px;
}

.container-top-2x {
  padding: 0px;
  padding-top: 16px;
}

.container-top-mid {
  padding: 0px;
  padding-top: 4px;
}

.container-top-mid-half {
  padding: 0px;
  padding-top: 2px;
}

.container-top-bottom {
  padding: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.container-full-mid {
  padding: 4px;
}

.container-full {
  padding: 8px;
}
  
.container-bottom {
  padding: 0px;
  padding-bottom: 8px;
}

.container-top-bottom-mid {
  padding: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.container-top-bottom-2x {
  padding-top: 16px;
  padding-bottom: 16px;
}

.container-left-right-mid {
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
}

.container-left {
  padding: 0px;
  padding-left: 8px;
}

.container-right {
  padding: 0px;
  padding-right: 8px;
}



/* PADDED COLUMNS */

.column-top {
  padding-top: 8px;
}

.column-top-bottom {
  padding-top: 8px;
  padding-bottom: 8px;
}

.column-top-bottom-2x {
  padding-top: 16px;
  padding-bottom: 16px;
}

.column-top-mid {
  padding-top: 4px;
}

.column-top-mid-half {
  padding-top: 2px;
}

.column-top-2x-bottom-3x {
  padding-top: 16px;
  padding-bottom: 24px; 
}

.column-left {
  padding-left: 8px;
}


/* BORDER */

.border {
  border: 1px solid #ccc;
}

.border-top {
  border-top: 1px solid #ccc;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}


/* TEXT ALIGN */

.to-left {
  text-align: left;
}

.to-right {
  text-align: right;
}

.to-center {
  text-align: center;
}

.justify {
  text-align: justify;
}


/* IMAGE */
.image-container {
  padding: 0px;
  background-color: #000;
  -webkit-box-shadow: 0px 2px 10px rgba(21, 21, 21, 0.6);
  -moz-box-shadow:    0px 2px 10px rgba(21, 21, 21, 0.6);
  box-shadow:         0px 2px 10px rgba(21, 21, 21, 0.6);
}

.image {
  padding: 0px;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 10px rgba(21, 21, 21, 0.6);
  -moz-box-shadow:    0px 2px 10px rgba(21, 21, 21, 0.6);
  box-shadow:         0px 2px 10px rgba(21, 21, 21, 0.6);
}

.row-image {
  padding: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}



/* FONT SIZES */

.font-100 {
  font-size: 100%;
}

.font-90 {
  font-size: 90%;
}

.font-80 {
  font-size: 80%;
}

.font-70 {
  font-size: 70%;
}



/* BOX */

.box {
  margin-bottom: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(21, 21, 21, 0.6);
  -moz-box-shadow:    0px 2px 10px rgba(21, 21, 21, 0.6);
  box-shadow:         0px 2px 10px rgba(21, 21, 21, 0.6);
}


/* COLOR */

.white {
  color: #fff;
}

.black {
  color: #000;
}

.dark-grey {
  color: #333;
}

.grey {
  color: #666;
}

.light-grey {
  color: #999;
}

.xtra-light-grey {
  color: #ccc;
}

.red {
  color: #FF0000;
}
