body {
  background-color: #f2f4f7;
}

.container {
  padding: 0px;
}

.container-top {
  padding: 0px;
  padding-top: 8px;
}

.container-top-mid {
  padding: 0px;
  padding-top: 4px;
}

.container-top-bottom {
  padding: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.container-full-mid {
  padding: 4px;
}

.container-full {
  padding: 8px;
}
  
.container-bottom {
  padding: 0px;
  padding-bottom: 8px;
}

.column-top-bottom {
  padding-top: 8px;
  padding-bottom: 8px;
}

.container-top-bottom-mid {
  padding: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.container-left-right-mid {
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
}

.container-left {
  padding: 0px;
  padding-left: 8px;
}

.container-right {
  padding: 0px;
  padding-right: 8px;
}



.border {
  border: 1px solid #ccc;
}

.border-top {
  border-top: 1px solid #ccc;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}



.to-left {
  text-align: left;
}

.to-right {
  text-align: right;
}

.to-center {
  text-align: center;
}




.image {
  padding: 0px;
  -webkit-box-shadow: 0px 2px 10px rgba(21, 21, 21, 0.6);
  -moz-box-shadow:    0px 2px 10px rgba(21, 21, 21, 0.6);
  box-shadow:         0px 2px 10px rgba(21, 21, 21, 0.6);
}

.row-image {
  padding: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.box {
  margin-bottom: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(21, 21, 21, 0.6);
  -moz-box-shadow:    0px 2px 10px rgba(21, 21, 21, 0.6);
  box-shadow:         0px 2px 10px rgba(21, 21, 21, 0.6);
}

.box-title {
  font-size: 90%;
}

.box-text {
  font-size: 80%;
}

.box-content {
  border: 1px solid #ccc;
  font-size: 80%;
  text-align: justify;
}

.main-title {
  color: #333;
}


