<!-- Footer -->
<div class="large-12 medium-12 small-12 columns container main-sash">
</div>
<footer>
  <div class="large-12 medium-12 small-12 columns">
    <div class="large-6 medium-6 small-6 columns column-top">
      <p>Talentcrops.com © Copyright 2014.</p>
    </div>

    <div class="large-6 medium-6 small-6 columns column-top">
      <ul class="inline-list right font-90">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Help', help_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
<!--         <li><%#= link_to 'Sign In', '#' %></li>
        <li><%#= link_to 'Sign Up', '#' %></li> -->
      </ul>
    </div>
  </div>
</footer>

<!-- End Footer -->